#carrousel-section .carousel-inner img{
    
    max-height: 60vh;
    object-fit: cover;
    
}



#carousel .overlay {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0,0,0, 0.5);

}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

@media (max-width: 800px) {
    #carrousel-section .carousel-inner img{
        height: 15vh;
    }
  }