
.footer{
    display: flex;
    flex-direction: row;
    background: #474848;
    justify-content: flex-end;
    font-size: 2rem;
    text-decoration: none;
  
}

.logo{
    color:black
}

.logo:hover{
    color:rgba(255, 255, 255, 0.511);

}
