
.footer{
    display: flex;
    flex-direction: row;
    background: #474848;
    justify-content: flex-end;
    font-size: 2rem;
    text-decoration: none;
    height: 5rem;
}

.logos{
    display: flex;
    flex-direction: row;
}
