.footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    height: 100px;
    background: #474848;
    position: top;
    color: rgb(164, 164, 164);
    padding-top: 15px;
}

.datos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.icono{
    display: flex;
    margin-left: 100px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.icono:hover{
    transform: scale(1.10);
    color: rgb(255, 255, 255);
}

