#andar{
     margin-top:5rem;

}


#cocinero{
     width: 50%;
}

.coci-compra{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-bottom: 5rem;
}

@media (max-width: 785px) {
     #cocinero{
          width: 100%;
          color:white;
          font-size: 0.2rem !important;
     }
}